
.modal.modal_form.modal__thank
    .modal__container.modal__container_thank.modal__container_form

        img(
            src="./image/img-modal-form.png"
            alt=""
            title=""
            class="img_responsive modal__img"
        )

        a(
            href="javascript:void(0);"
            title=""
            class="btn-close modal__btn-close"
        )
            span.modal__btn-close__line.modal__btn-close__line-0
            span.modal__btn-close__line.modal__btn-close__line-2

        .modal__row.modal__row_thank

            p.modal__title.modal__title_thank!= "<span class='modal__title_big'>СПАСИБО!</span></br>МЫ СВЯЖЕМСЯ С ВАМИ В БЛИЖАЙШЕЕ ВРЕМЯ"
