
.modal.modal_form
    .modal__container.modal__container_thank.modal__container_form

        img(
            src="./image/img-modal-form.png"
            alt=""
            title=""
            class="img_responsive modal__img"
        )

        .modal__row.modal__row_thank

            p.modal__title.modal__title_thank!= "<span class='modal__title_big'>СПАСИБО!</span></br>МЫ СВЯЖЕМСЯ С ВАМИ В БЛИЖАЙШЕЕ ВРЕМЯ"
