//- MAIN TITLE
mixin mainTitle(className, text)
    p(class="main__title" + className)!= text

//- SUB TITLE
mixin subTitle(className, text)
    p(class="sub__title" + className)!= text
    hr.sub__title__line

//- MAIN LIST
mixin mainList(className, textArr)
    ul(class="main__list" + className)
        -for(var i = 0, j = 1; i < textArr.length; i++, j++)
            li.main__item
                .main__item-wrap
                    .main__item-header
                        i(class="main__item-icon-" + i)
                        span.main__item-number!= i < 9 ? "0" + j : j
                    p.main__item-text!= textArr[i]

//- SUB LIST
mixin subList(className, textArr)
    ul(class="sub__list" + className)
        -for(var i = 0; i < textArr.length; i++)
            li.sub__item.clearfix
                .sub__item-left
                    i.sub__item-circle
                .sub__item-right
                    p.sub__item-text!= textArr[i]