
section.device

    .container
        .device__btn-wrap
            a(
                href="javascript:void(0);"
                title=""
                class="device__btn active"
                data-more="device"
            )!= "Устройство"
            a(
                href="javascript:void(0);"
                title=""
                class="device__btn"
                data-more="kit"
            )!= "Комплектация"

        .owl-carousel.device__carousel.device__carousel-device
            .device__item.device__item-0
                img(
                    src="./image/device/img-device-0.png"
                    alt=""
                    title=""
                    class="img_responsive"
                )
                img(
                    src="./image/device/img-device-0-line-0.png"
                    alt=""
                    title=""
                    class="img_responsive device__item-line device__item-line-0"
                )
                img(
                    src="./image/device/img-device-0-line-1.png"
                    alt=""
                    title=""
                    class="img_responsive device__item-line device__item-line-1"
                )
                img(
                    src="./image/device/img-device-0-line-2.png"
                    alt=""
                    title=""
                    class="img_responsive device__item-line device__item-line-2"
                )
                img(
                    src="./image/device/img-device-0-line-3.png"
                    alt=""
                    title=""
                    class="img_responsive device__item-line device__item-line-3"
                )

                p.device__item-text.device__item-text-0!= "ON/OFF"
                p.device__item-text.device__item-text-1!= "Indicator led"
                p.device__item-text.device__item-text-2!= "WI-FI ON/OFF"
                p.device__item-text.device__item-text-3!= "Emergency video save"

            .device__item.device__item-1
                img(
                    src="./image/device/img-device-1.png"
                    alt=""
                    title=""
                    class="img_responsive"
                )
                img(
                    src="./image/device/img-device-1-line-0.png"
                    alt=""
                    title=""
                    class="img_responsive device__item-line device__item-line-0"
                )
                img(
                    src="./image/device/img-device-1-line-1.png"
                    alt=""
                    title=""
                    class="img_responsive device__item-line device__item-line-1"
                )
                img(
                    src="./image/device/img-device-1-line-2.png"
                    alt=""
                    title=""
                    class="img_responsive device__item-line device__item-line-2"
                )

                p.device__item-text.device__item-text-0!= "HDMI slot"
                p.device__item-text.device__item-text-1!= "SD card slot"
                p.device__item-text.device__item-text-2!= "Reset button"

            .device__item.device__item-2
                img(
                    src="./image/device/img-device-2.png"
                    alt=""
                    title=""
                    class="img_responsive"
                )
                img(
                    src="./image/device/img-device-2-line-0.png"
                    alt=""
                    title=""
                    class="img_responsive device__item-line device__item-line-0"
                )

                p.device__item-text.device__item-text-0!= "Динамик"

            .device__item.device__item-3
                img(
                    src="./image/device/img-device-3.png"
                    alt=""
                    title=""
                    class="img_responsive"
                )
                img(
                    src="./image/device/img-device-3-line-0.png"
                    alt=""
                    title=""
                    class="img_responsive device__item-line device__item-line-0"
                )

                p.device__item-text.device__item-text-0!= "Power mini USB"


        div(class="owl-carousel device__carousel device__carousel-kit" style="opacity:0; height: 0; visibility:hidden;")
            .device__item.device__item-0
                img(
                    src="./image/kit/img-complect-0.png"
                    alt=""
                    title=""
                    class="img_responsive"
                )

            .device__item.device__item-1
                img(
                    src="./image/kit/img-complect-1.png"
                    alt=""
                    title=""
                    class="img_responsive"
                )
                img(
                    src="./image/kit/img-complect-1-line-0.png"
                    alt=""
                    title=""
                    class="img_responsive device__item-line device__item-line-0"
                )

                p.device__item-text.device__item-text-0!= "Блок зарядки"

            .device__item.device__item-2
                img(
                    src="./image/kit/img-complect-2.png"
                    alt=""
                    title=""
                    class="img_responsive"
                )
                img(
                    src="./image/kit/img-complect-2-line-0.png"
                    alt=""
                    title=""
                    class="img_responsive device__item-line device__item-line-0"
                )

                p.device__item-text.device__item-text-0!= "USB шнур"

            .device__item.device__item-3
                img(
                    src="./image/kit/img-complect-3.png"
                    alt=""
                    title=""
                    class="img_responsive"
                )
                img(
                    src="./image/kit/img-complect-3-line-0.png"
                    alt=""
                    title=""
                    class="img_responsive device__item-line device__item-line-0"
                )

                p.device__item-text.device__item-text-0!= "Крепление</br>к лобовому стеклу"

            .device__item.device__item-4
                img(
                    src="./image/kit/img-complect-4.png"
                    alt=""
                    title=""
                    class="img_responsive"
                )
                img(
                    src="./image/kit/img-complect-4-line-0.png"
                    alt=""
                    title=""
                    class="img_responsive device__item-line device__item-line-0"
                )

                p.device__item-text.device__item-text-0!= "Power mini USB"