include ../_mixin/macrosMixin

-
    var diffTitle = "Этот девайс <span class='main__title_bold'>отличается от всех</span></br>видеорегистраторов что вы видели раньше";
    var diffText = [
        "Футуристичный инновационный дизайн, объединяющий стиль и функциональность",
        "Уникальная система крепления – надежность и никаких дребезжаний",
        "Эффект маскировки – видеорегистратор сливается с интерьером и не портит дизайн салона"
    ];

section.difference

    +mainTitle("", diffTitle)

    .difference__eclips.block__ellipse
        img(
            src="./image/img-diff-text.png"
            alt="nx1"
            title="nx1"
            class="img_responsive block__ellipse-img"
        )

    img(
        src="./image/img-diff-register.png"
        alt="Akenori device"
        title="Akenori device"
        class="img_responsive difference__img"
    )

    .container
        +mainList(" difference__list", diffText)