include ../_mixin/mixin

-
    var headerTitle = "Первый видеорегистратор,</br><span class='header__title_bold'>созданный специально</span></br>для внедорожников и кроссоверов";

header.header


    img(
        src="./image/header/img-header-shadow.png"
        title="Akenori device"
        alt="Akenori device"
        class="img_responsive header__img header__img-shadow"
    )
    img(
        src="./image/header/img-header-register.png"
        title="Akenori device"
        alt="Akenori device"
        class="img_responsive header__img header__img-register"
    )

    include macros/header__fixed

    include macros/nav

    .container-fluid.clearfix
        .header__right

            .header__row
                img(
                    src="./image/img-logotype-0.png"
                    title="Akenori"
                    alt="Akenori"
                    class="header__logotype header__logotype-0 img_responsive"
                )
                img(
                    src="./image/img-logotype-1.png"
                    title="nx1"
                    alt="nx1"
                    class="header__logotype header__logotype-1 img_responsive"
                )

                h1.header__title!= headerTitle

                a(
                    href="javascript:void(0);"
                    title="btn buy"
                    class="btn btn-buy btn_white-arr"
                )!= "Купить"


    .header__arrow
        a(
            href="#difference"
            title="scroll down"
            class="btn-arrow"
        )